@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  background-color: #504099;
}

body {
  margin: 0;
}

.skills {
  min-width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ea1179;
  transition: transform 0.5s ease-in-out;
}

.skills:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.link {
  text-decoration: none;
  color: white;
}

.fullstack {
  color: #fe7be5;
}

.fullstack:hover {
  color: #ea1179;
}

.scroll-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scroll-content {
  display: flex;
  white-space: nowrap;
}

